*.pyc
*.ignored
_recycle
/notebooks
/output
.ipynb_checkpoints/
/wordlist/w2v_vocab.txt
/wordlist/glove.42B.300d.vocab
.DS_Store
.remote-sync.json
/wordlist/glove.840B.300d.vocab
__pycache__
*.sublime-project
*.sublime-workspace
