*.pyc
*.ignored
/notebooks
/output
.ipynb_checkpoints/
/data/gcide/
/data/wn18/
/data/hillf_tacl_2016/
/data/w2v_vocab.txt
/data/wordlist/w2v_vocab.txt
/data/wordlist/glove.42B.300d.vocab
/data/wndb
.DS_Store
.remote-sync.json
/data/common_wordnet/
/data/wordlist/glove.840B.300d.vocab
/data/wordnet/
